/* .car02{
  width: 1800px;
  height: 600px;
  overflow: hidden;
  border-radius: 15px;
  margin-top: 20px;
} */

.car01{
  width: 1800px;
  height: 3px;
  /* overflow: hidden; */
  border-radius: 15px;
  margin-top: 20px;
}

  .fulsc{
    width: 100%;
    height: 500px;
    /* width: 100%;
    height: 500px; */
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }


